@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Bold.ttf") format(ttf),
    url("fonts/OpenSans-Bold.woff") format(woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Regular.woff") format(woff2),
    url("fonts/OpenSans-Regular.ttf") format(ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: OpenSans, sans-serif;
  box-sizing: border-box;
  list-style: none;
}

.pixel-perfect {
  position: absolute;
  z-index: 10000;
  opacity: 0.4;
  left: 50%;
  margin-left: -830px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  background-color: #000;
  padding-top: 27px;
  padding-bottom: 125px;
}

.container {
  position: relative;
  z-index: 10000;
}

.wrapper-center {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.logo {
  width: 182px;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header::before {
  content: "";
  background-color: #000000;
  position: absolute;
  opacity: 0.45;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.navigation-menu {
  width: 462px;
}

.header__nav-menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav__item {
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
}

.nav__link {
  color: white;
  text-decoration: none;
}

.header-title {
  text-transform: uppercase;
  color: white;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.65;
  width: 697px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 101px;
}

.main__content {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.list-articles {
  width: 778px;
}

.articles__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.article__image {
  width: 381px;
}

.article__content {
  width: 367px;
}

.article__header {
  margin-bottom: 46px;
}

.nav-menu {
  margin-bottom: 10px;
}

.articles_menu {
  list-style: none;
  text-transform: uppercase;
  line-height: 0.8;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.link__item {
  color: #b59f5b;
  text-decoration: none;
}

.article__title {
  text-transform: uppercase;
  font-size: 20.4px;
  font-weight: 700;
  line-height: 1.2;
  width: 450px;
  margin-bottom: 24px;
  width: 350px;
}

.article__date {
  font-weight: 400;
  font-size: 12px;
  margin-right: 8px;
}

.article__author {
  font-weight: 700;
  font-size: 12px;
}

.article__text {
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
  color: #0f0d0e;
  margin-bottom: 7px;
}

.aside-container {
  width: 270px;
}

.aside__header {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.7;
}

.aside__header::after {
  content: "";
  background-color: #b59f5b;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  width: 66px;
  height: 3px;
  display: block;
}

.last-post {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 22px;
}

.last-post__image {
  width: 70px;
}

.last-post__content {
  width: 182px;
  line-height: 0.3;
}

.last-post__date {
  font-weight: 400;
  font-size: 12px;
}

.last-post__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 11px;
}

.last-posts__search {
  margin-top: 57px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.search {
  font-size: 13px;
  border: none;
  margin-left: 13px;
  padding-left: 15px;
  height: 48px;
  width: 222px;
}

.search:focus,
.input__email:focus {
  outline: 1px solid #b59f5b;
}

.button_search {
  width: 50px;
  background-color: #b59f5b;
  border: none;
}

.magnifier {
  width: 18px;
}

.input__email {
  height: 49px;
  width: 271px;
  margin-bottom: 11px;
  padding-left: 15px;
  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  border: none;
}

.search,
.input__email {
  background-color: #f4f7f6;
}

.button__email {
  height: 49px;
  width: 271px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
  margin-bottom: 60px;
  border: none;
}

.button__email:hover,
.button_search:hover {
  background-color: #323232;
}

.tags {
  width: 262px;
}

.list-tags {
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-left: 10px;
  margin-bottom: 64px;
}

.tag {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.tag__link {
  padding: 2px 5px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
  color: #0f0d0e;
  text-decoration: none;
}

.categories {
  width: 272px;
}

.categories__list {
  justify-content: left;
  margin-top: -13px;
}

.category {
  font-size: 14px;
  line-height: 46px;
  text-transform: capitalize;
  font-weight: 700;
}
.category::after {
  width: 271px;
  height: 1px;
  background-color: #eeeeee;
}

.category__link {
  text-decoration: none;
  color: #0f0d0e;
}

.level {
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
}

.footer {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: flex-end;
}

.social-logo {
  width: 20px;
  height: auto;
}
